/*global*/
.none {
  display: none; }



.bold {
  font-weight: bold; }

img {
  position: relative; }

section {
  overflow: hidden; }

h2 {
  font-size: 42px; }

@font-face {
  font-family:'Karla', Sans Serif;
  src:    url("../css/fonts/karla/karla-Regular.ttf");
  src:    url("../css//fonts/neosans/NeoSans Light Italic.woff2") format('woff2'),
          url("../css//fonts/neosans/NeoSans Light Italic.ttf"),
          url("../css//fonts/neosans/NeoSans Light Italic.woff") format('woff');


}
* {
/*
  font-family: 'Karla', sans-serif;
        font-family: 'Neo Sans';
    @font-face: url(../css/fonts/NeoSans/NeoSans-Medium-Italic.otf);
  font-family: 'Open Sans', sans-serif;
*/
font-family: 'Karla', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  color: #1d222e;
  letter-spacing: 2px; }

.navbar-default .navbar-brand {
  color: #1d222e;
  letter-spacing: 2px; }

nav a {
  position: relative; }
  nav a:after {
    content: "";
    height: 3px;
    background-image: linear-gradient(#1d222e, #00B5FF);
    position: absolute;
    bottom: 5px;
    width: 80%;
    left: 10%;
    display: none; }
  nav a:hover:after {
    display: block;
    background-color: #CCC; }

nav a.active:after {
  display: block !important; }

.login, .subscribe {
/*
  background-image: linear-gradient(#1d222e, #2f7d95);
  background-image: -webkit-linear-gradient(#1d222e, #2f7d95);
  background-image: -moz-linear-gradient(#1d222e, #2f7d95);
  background-image: -ms-linear-gradient(#1d222e, #2f7d95);
  background-image: -o-linear-gradient(#1d222e, #2f7d95);
*/
    background-image: linear-gradient(#1d222e, #00B5FF);
  position: relative; }
  .login .box, .subscribe .box {
    position: relative; }
  .login .form-container, .subscribe .form-container {
    background-color: #FFF;
    padding: 30px 60px;
    max-width: 450px;
    margin: auto;
    border-radius: 5px; }
    .login .form-container h3, .subscribe .form-container h3 {
      color: #1d222e;
      letter-spacing: 3px;
      margin-bottom: 30px;
      font-weight: bold; }
    .login .form-container label, .subscribe .form-container label {
      color: #1d222e;
      letter-spacing: 3px;
      margin: 0;
      font-size: 12px;
        white-space: nowrap;
}
    .login .form-container input, .subscribe .form-container input {
      box-sizing: border-box;
      width: 100%;
      border: 2px solid #979797;
      margin: 15px auto;
      padding: 10px;
      border-radius: 5px;
      min-height: 40px; }
      .login .form-container input:first-of-type, .subscribe .form-container input:first-of-type {
        margin-bottom: 50px; }
    .login .form-container a, .subscribe .form-container a {
      display: block;
      text-align: center;
      font-size: 10px;
      letter-spacing: 3px;
      color: #979797; }
    .login .form-container button, .subscribe .form-container button {
      display: block;
      width: 200px;
      letter-spacing: 3px;
      color: #FFF;
      margin: 40px auto;
      background-color: #1d222e;
      padding: 10px;
      border-radius: 25px;
      border: none;
      font-weight: bold; }
      .login .form-container button:hover, .subscribe .form-container button:hover {
        background-color: #00a0e2; }

.subscribe .form-container {
  padding: 30px 60px;
  max-width: 850px; }
  .subscribe .form-container span {
    color: #1d222e;
    display: block;
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: bold; }
  .subscribe .form-container button {
    margin: 20px auto; }
  .subscribe .form-container input {
      box-sizing: border-box;
    height: 46px; }
    .subscribe .form-container input:first-of-type {
      margin: 0; }
  .subscribe .form-container .input-container input {
    margin: 10px auto 25px auto;
      padding: 1px 10px;
}

  .subscribe .form-container select {
    margin: 10px auto 25px auto;
    height: 46px;
      box-sizing: border-box;
      padding: 10px;
    border: 2px solid #979797; }

[type="date"] {
  background: #fff url(../images/calendar_2.png) 97% 50% no-repeat;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -e-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

[type="date"]::-webkit-inner-spin-button {
  display: none; }

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; }

.date {
  text-align: left; }
  .date label {
    letter-spacing: 2px;
    margin: 30px auto 10px; }

.city {
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left; }
  .city label {
    letter-spacing: 2px;
    margin: 30px auto 10px;
    display: inline-block; }
  .city input {
    width: 100%; }

/*footer*/
.sub-page-footer {
  padding: 50px 10px;
background-color: #F8F9FB;}
  .sub-page-footer p.h4 {
    font-weight: bold;
    color: #1d222e;
    letter-spacing: 4px; }
  .sub-page-footer li {
    margin: 20px auto;
    font-size: 12px; }
    .sub-page-footer li:last-child {
      margin-bottom: 0; }
    .sub-page-footer li a {
      color: #1d222e;
      font-weight: bold;
      letter-spacing: 3px; }

.brand-footer {
  background-color: #fff;
  color: #FFF;
  padding: 10px;
  font-size: 12px; }
  .brand-footer a {
    color: #FFF;
    padding-top: 10px;
    display: inline-block; }
button {
    border-radius: 10px !important;
}
/*# sourceMappingURL=subscribe-login-style.css.map */
